header {
	border-bottom: 1px solid #CCCCCC;
	height: 70px; width: 100%;
}
.topLogo {
	background-image: url('../images/logo.png');
	width: 142px; height: 100%;
	background-position: center;
	margin-left: 20px;
}
