.filters {
	width: 100%; height: 70px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	min-width: 60vw;
	border-radius: 4px;
	display: flex;
	align-items: center;
}
.filters .locations {
	border-right: 1px solid #DDDDDD;
}
.filters > div {
	width: 25%; height: 100%;
	padding: 15px 15px 15px 40px;
	position: relative;
}
.popover {
	position: absolute;
	top: 100%; left: -1px;
	width: 101%;
	padding: inherit;
	list-style: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 0 0 4px 4px;
	display:none;
}
.filters > div:hover ul{
	display: block;
}
.popover ul{
	list-style: none;
	margin: 0 0 15px 15px;
}
.filters h4 {
	font-weight: 400;
	font-size: 14px;
}
.filters button {
	width: 20%; height: 48px;
	background-color: #FF5A5F;
	font-size: 18px; color: #FFFFFF;
	border-radius: 4px; border: none;
	margin: auto; margin-right: 30px;
}
.filters button:hover {
	opacity: 0.9;
	cursor: pointer;
}
